################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c.net/CopilotIndices/17.12.38.29086
/.vs
/oop concept/.vs
/oop concept/bin/Debug/net8.0
/oop concept/obj
